@model pogym.Models.pokemons

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>pokemons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.height_avg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height_avg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight_avg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight_avg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.combatpower_max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.combatpower_max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attack_base)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attack_base)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.defense_base)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.defense_base)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stamina_base)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stamina_base)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pokemons2.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pokemons2.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
